*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}


.header-left{
    display: flex;
    gap: 50px;
}

ul ,a{
    text-decoration: none;
    color: grey;
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 15px;
}

header{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid gray;
    align-items: center;   
}

.avatar{
    width: 50px;
    cursor: pointer;
}

.cart{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header-right{
    display: flex;
    gap: 30px;
    align-self: stretch;
    align-items: center;
}

.hero{
    max-width: 830px;
    min-height: 600px;
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
}

.w-50{
    width: 50%;
}


.hero-img img{
    width: 75%;
    height: 350px;
    border-radius: 15px;
    margin-bottom: 30px;
    cursor: pointer;

}

.heroimgs{
    display: flex;
   gap: 20px;
}

.heroimgs img{
    width: 60px;
    height: 60px;
    cursor: pointer;

}

span{
    color: orangered;
    text-transform: uppercase;
    font-size: 10px;
}

h1{
    margin-bottom: 20px;
    margin-top: 20px;
}

p{
    color: gray;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 20px;
}

h3{
    color: gray;
    text-decoration: line-through;
    font-size: 10px;
}


button{
    background-color: orange;
    padding: 10px 60px;
    border-radius: 15px;
    border: none;
    color: white;
    margin-top: 20px;
}

button:hover{
    background-color: orangered;
}

button:active{
    box-shadow: 2px 2px 5px #fc894d;
}

.hero-content{
    margin-top: 60px;
}






@media(max-width:768px){
    .main-nav{
        display: none;
    }
    
    .menu{
        margin-right: 10px;
    }

    .w-50{
        width: 100%;
    }

header{
    padding: 0;
    max-width: 100%;
}

    .hero{
        flex-wrap: wrap;
        text-align: center;
        padding-top: 0;
    }

    .hero-img img{
        width: 100%;
        border-radius: 0;
    }

    .heroimgs{
        display: none;
    }

    .hero-content{
        margin-top: 0;
    }
}